@import "root.css";

.footer{
    border-top: var(--border-default);
    grid-row: 3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vh;
}
.footer__full{
    grid-column: 1/3;
}
.footer__copyleft{
    color: var(--subtext);
    font-size: 1.3rem;
}

.footer__link{
    color: var(--subtext);
}