@import "root.css";

.header{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    background-color: white;
    border-bottom: var(--border-default);
    padding: 0 18px 0 14px;
    height: 8vh;
    position: fixed;
    z-index: 100;
}
.header__logo{
    grid-column: 2;
    justify-self: end;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text-color)
}
.header__button{
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    justify-self: start;
    border-radius: 5px;
    border: none;
    width: 35px;
    height: 35px;
    transition: var(--transition-default);
    cursor: pointer;
}
.header__button:hover{
    background: var(--back-active-elem);
}
.header__button svg{
    scale: 1.7;
}

@media (max-width: 1366px) {
    .header__logo{
        font-size: 1rem;
    }
}