@import "root.css";

.main__progress{
  display: flex;
  gap: 5vh;
  justify-content: center;
  padding: 20px;
  align-content:center;
}
.main__result{
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  border:  var(--border-default);
  cursor: pointer;
}