@import "root.css";

.chat{
    padding: 8vh 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-bottom: 1vh;
    overflow: hidden;
}

.main__chat-aside{
    display: flex;
    align-items:center;
    border-radius: 6px;
    transition: var(--transition-default);
    padding: 12px 1vw;
    gap: 1vw;
}
.main__chat-aside_active{
    background: var(--back-active-elem);
    border: 1px solid white;
}
.main__chat-aside img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
}

.main__chat-aside .main__text{
    font-size: 1em;
}
.main__chat-aside .main__subtext{
    font-size: .9em;
}

.main__titlebar-chat{
    display: flex;
    align-self: start;
    width: 80vw;
    border-bottom: var(--border-default);
    padding: 1vh 2vw;
    justify-content: space-between;
    align-items: center;
}
.main__user-chat{
    display: flex;
    align-items: center;
    gap: 10px;
}
.main__user-chat .main__text{
    font-size: 1em;
}
.main__user-chat .main__subtext{
    font-size: .9em;
}
.main__user-chat img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
}
.main__user-chat svg{
    margin-top: 3px;
    align-self: start;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
}
.main__toolbar-chat{
    display: flex;
    gap: 40px;
}
.main__toolbar-chat button{
    cursor: pointer;
    transition: var(--transition-default);
}

.main__toolbar-chat button svg{
    scale: 1.7;
}
.main__chat{
    height: 100%;
    display: grid;
    grid-template-rows: 10fr 1fr;
    overflow: hidden;
}

.users__messages{
    padding: 15px;
    display: flex;
    flex-direction:column;
    overflow-y: scroll;
    justify-self: start;
    max-width: 95%;
    gap: 10px;
}
.users__messages::-webkit-scrollbar{
    display: none;
}
.friend__message,
.user__message{
    display: flex;
    max-width: 80%;
    gap: 10px;
}
.friend__message img,
.user__message img{
    object-fit: cover;
    align-self: end;
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.friend__message img{
    border: 1px solid #c01c27b9;
}
.user__message img{
    border: 1px solid #1c71d8d3;
}

.friend__message-text,
.user__message-text{

    border-radius: 9px;
    padding: 10px 15px;
    color: white;
}
.user__message-text{
    background-color: #1c71d8d3;
}

.friend__message-text{
    background-color: #c01c27b9;
}
.friend__message-time,
.user__message-time{
    align-self: end;
    color: var(--subtext)
}
.message-bar{
    align-self: end;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 9fr 1fr 1fr;
    align-items: center;
    padding-bottom: .5vh;
}
.main__message-box{
    border-bottom: none;
    background: var(--back-active-elem);
    color: #2c2c2cd7;
    font-size: 1rem;
    padding: 5px 16px;
    border-radius: 3px;   
    transition: .05s;
}
.message-bar button svg{
    scale: 1.7;
}
.message-bar button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 10px;
    border-radius: 50%;
}
.message-bar button:focus svg path{
    transition: var(--transition-default);
}
.message-bar button:focus svg path{
    stroke: #1c71d8d3;
}