@import "root.css";
@import "main_chat.css";
.main{
    grid-row: 2;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 4fr;
}


/* Main elems */
.main__container{
    grid-column: 2;
    padding: 14vh 4rem 6vh;
    display: grid;
    gap: 2.6rem;
    justify-content: center;
}

.main__block{
    display: grid;
    justify-content: center;
}

.main__content-block{
    display: grid;
    width: 60vw;
    box-shadow: var(--box-shadow-block);
    border-radius: 13px;
    padding: 1.4vw 1.4vw;
}

.main__aside{
    position: fixed;
    display: grid;
    align-content: start;
    border-right: var(--border-default);
    top: 8vh;
    padding: 0 .5vw 6vh .4vw;
    width: 20%;
    height: 92%;
    overflow-y: scroll;
    
}
.main__aside::-webkit-scrollbar{
    display: none;
}
.main__navbar{
    display: grid;
    gap: .5vw;
}
.main__user{
    display: grid;
    justify-content: center;
    padding: 3vw;
}
.main__user a{
    display: grid;
    justify-content: center;
    gap: 1.2vw;
}
.main__user-avatar{
    display: grid;
    justify-content: center;
}
.main__user-img{
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
    border: var(--border-default);
    object-fit: cover;
}

.main__position-img{
    position: fixed;
    object-fit: contain;
    transform: translate(270%,  240%);
    border: var(--border-default);
    background-color: white;
    padding: 3px;
    border-radius: 50%;
    width: 2.7vw;
    height: 2.7vw;
}

.main__username{
    text-align: center;
    font-size: 1.6rem;
    color:var(--text-color)
}

.main__link-aside{
    display: flex;
    gap: 1.5vw;
    align-items: center;
    padding: 13px 3.5vw;
    border-radius: 6px;
    transition: var(--transition-default);
    font-size: 1em;
    color: var(--text-color);
}
.main__link-aside_active{
    background-color: var(--back-active-elem);
}
.main__btn-aside svg,
.main__link-aside svg{
   scale: 1.8;
}
.main__chat-aside:hover,
.main__link-aside:hover{
    background: var(--back-active-elem);
}

.main__btn-aside{
    display: flex;
    color: var(--red);
    background: none;
    border: none;
    padding: 13px 3.5vw;
    border-radius: 6px;
    font-size: 1em;
    align-items: center;
    gap: 1.5vw;
}

.main__btn-aside:hover{
    background: var(--back-active-elem);
}


.main__card{
    cursor: pointer;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    height: 52px;
    align-items: center;
    padding: 3vh;
    border-bottom: var(--border-default);
    transition: transform .3s, background-color .3s;
}
.main__card:hover{
    background-color: #d1d1d134;
}

.main__card:last-child{

    border: none;
}
.main__composition{
    display: flex;
    gap: 1.5vw;
}
.main__composition img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.main__composition svg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.main__svg_composition{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
}
.main__svg_ideology{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
}
.main__svg_composition svg{
    stroke-width: 2px;
    width: 20px;
    height: 20px;
}
.main__svg_composition form button{
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    transition: .3s;
}
.main__svg_composition form button:hover{
    background: var(--back-active-elem);
}
.border-img{
    border: var(--border-default);
    border-width: 2px;
}
.main__composition .main__text{
    border-left: var(--border-default);
    padding-left: 1.5vw;
}



.list{
    max-height: 56vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    scrollbar-width: none;
}
.list::-webkit-scrollbar{
   display: none;
}


.main__search{
    background: var(--back-active-elem);
    display: flex;
    gap: 15px;
    padding: 0 16px;
    border-radius: 5px;   
    align-items: center;
}
.main__search input{
    background: none;
    border: none;   
    padding: .7vw 0;
    color: #2c2c2cd7;
}
.main__search input:focus{
    border: none;
    outline: none;

}
.main__search svg{
    scale: 1.6;
}


.main__user_account{
    grid-column: 1/3;
    justify-self: center;
    padding: 30vh 0 3vh;
    display: grid;
    justify-items: center;
}
.main__user_account-avatar{
    display: grid;
    justify-items: center;
    position: relative;
}
.main__username_account{
    font-size: 2.4rem;
    color:var(--text-color)
}
.main__user_account-img{
    object-fit: cover;
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    border: var(--border-default);
    transition: .4s;
    cursor: pointer;
}
.main__user_account .main__subtext{
    font-size: 1.7rem;
}
.main__user_account-img:nth-child(1){
    padding: 10px;
    text-align: center;
    color: var(--text-color);   
    font-weight: 700;
    display: grid;
    background-color: var(--back-active-elem);
    visibility: hidden;
    opacity: 0;
    grid-row: 1;    
    grid-column: 1;
    align-items: center;
}
.main__user_account-img:nth-child(2){
    grid-row: 1;
    grid-column: 1;
}

.main__user_account-avatar:hover .main__user_account-img:nth-child(1){
    visibility: visible;
    opacity: .8;
}
.main__user_account-avatar:hover .main__user_account-img:nth-child(2){

    z-index: -1;
}

.main__position_account-img{
    background: white;
    padding: 3px;
    position: absolute;
    object-fit: contain;
    transform: translate(110%,  280%);
    border: var(--border-default);
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
}

.main__ideology-img{
    object-fit: contain ;
}

.main__user_ideology{
    transform: translateX(-100%);
    grid-row: 3;
    grid-column: 1;
}
.main__user_birthday{
    transform: translateX(-100%);
    grid-row: 5;
    grid-column: 1;
}
.main__user_email{
    transform: translateX(-100%);
    grid-row: 4;
    grid-column: 1;
}
.main__user_name{
    transform: translateX(-100%);
    grid-row: 1;
    grid-column: 1;
}
.main__user_surname{
    transform: translateX(-100%);
    grid-row: 2;
    grid-column: 1;
}

.main__change-form{
    display: flex;
    width: 100%;
    gap: 10px;
}
.main__change-form .main__input{
    flex-grow: 3;
}

.main__change-form .main__btn-form{
    flex-grow: 1;
}
.translate0{
    transform: translateX(0);
}
.translate100{
    transform: translateX(100%);
}


.main__book{
    display: grid;
    justify-items: center;
}
.main__book img{
    object-fit: cover;
    border-radius: 50%;
    width: 30vh;
    height: 30vh;
    border: var(--border-default);
}
/***********************/

/**************FORM***************/

.main__form{
    display: grid;
    
    gap: 4vh;
    width: 40vw;
}

.main__input{
    border-bottom: var(--border-default);
    color: #2c2c2cd7;
    font-size: 1rem;
    padding: 15px 16px;
    border-radius: 3px;   
    transition: .05s;
}
.main__input:focus{
    outline: 2px solid #1c71d8d3;
}
.main__btn-form{
    background-color: var(--blue);
    color: white;
    padding: 15px 16px;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
}


#file-input{
    display: none;
}
/*********************************/

.main__title{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0 0 1rem;
    color: var(--text-color);
}

.main__subtext{
    color: var(--subtext);
    font-size: 1rem;
}

.main__text{
    color: var(--text-color);
    font-size: 1.1rem;
    padding-bottom: 5px;
}
.main__drop_down{
    position: absolute;
}

/* Special class */
.center{
    justify-self: center;
}

.two-grid-column{
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
/*****************/

/**********Media 1100*************/
@media (max-width: 1100px){
    .main{
        grid-template-columns: 1fr 16fr;
    }
    .main__aside{
        width: 6%;
    }
    .main__user{
        padding:6vh 1vh 4vh;
    }
    .main__user-img{
        width: 35px;
        height: 35px;
    }
    
    .main__position-img{
        display: none;
    }
    .main__link-aside,
    .main__btn-aside{
        justify-content: center;
        padding: 15px 0;
    }
    .main__link-aside span,
    .main__btn-aside span{
        display: none;
    }
    .main__username{
        display: none;
    }
}

@media (min-width: 1500px){

    .main__link-aside,
    .main__btn-aside{
        font-size: 1.2rem;
    }

}