:root{
    --transition-default: .3s;
    --border-default: 2px solid #d1d1d1;
    --box-shadow-block: 0px 0px 2px rgba(0, 0, 0, 0.575);
    --red: #C01C28;
    --green:#26A269;
    --blue:#1C71D8;
    --text-color:#2c2c2c;
    --subtext:#b4b4b4;
    --back-active-elem:#d3d3d3;
}
@media (max-width:1366px) {
    :root{
        --border-default: 1px solid #d1d1d1;
    }
}