/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    background: none;
    border: none;
}
button:focus{
    outline: none;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

@media (max-width: 1100px){
    .container{
        grid-template-columns: 1fr 16fr;
    }
}
.visible{
    visibility: visible;
    opacity: 1;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}
.account{
    grid-column: 1/3;
}